.login-background {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #00000041;
}
.login {
  margin: 25vh auto;
  width: 40%;
  height: 40vh;
  background: #fff;
  border-radius: 1em;
  border: .1em solid #131c293d;
}
.login div:first-child {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5em 1.5em 0;
}
.login img {
  height: 90%;
}
.login span {
  font-size: 1.2em;
}
.login form {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-login {
  width: 80%;
  height: 5vh;
  outline: none;
  margin-top: 1em;
  padding: 0 .5em;
  border: .1em solid #131c293d;
  border-radius: .5em;
  transition: ease-in-out .5s;
}
.input-login:focus {
  box-shadow: 0 0 10px #2d426249;
  transition: ease-in-out .5s;
}
.input-login:last-child {
  margin-bottom: 1em;
}
.login div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login button {
  border-radius: .5em;
  border: none;
  outline: none;
  background: #2d4262e5;
  box-shadow: 0 0 10px #2d426249;
  color: #ffffff;
  font-weight: bold;
  min-width: 30%;
  height: 7vh;
  transition: ease-in-out .1s;
}
.login button:hover {
  cursor: pointer;
  font-size: 1.03em;
  box-shadow: 0 0 10px #2d4262b9;
  transition: ease-in-out .1s;
}